{% extends "base.html" %}

{% block header %}

    <title>Random Number - hx-swap</title>

{% endblock header %}

{% block content %}

    <h1>Random Number - hx-swap</h1>
    <h2>Change inner HTML</h2>
    <p>Replace the content of the target element with the new content.</p>
    <div class="d-grid gap-2 mb-3">
        <button type="button"
                class="btn btn-dark btn-lg btn-block"
                hx-get="{{ url_for("random-number") }}"
                hx-swap="innerHTML">
            Change `innerHTML`
            <!-- This part is replaced by the new content -->
        </button>
    </div>
    <h2>Change outer HTML</h2>
    <p>Replace the button itself with the new content.</p>
    <div class="d-grid gap-2 mb-3">
        <button type="button"
                class="btn btn-dark btn-lg btn-block"
                hx-get="{{ url_for("random-number") }}"
                hx-swap="outerHTML">Change `outerHTML` (itself)</button>
        <!-- This part is replaced by the new content -->
    </div>
    <h2>Before Begin</h2>
    <p>Adds a new content just before the target element.</p>
    <div class="d-grid gap-2 mb-3">
        <button type="button"
                class="btn btn-dark btn-lg btn-block"
                hx-get="{{ url_for("random-number") }}"
                hx-target="#random-list-beforebegin"
                hx-swap="beforebegin">Before Begin</button>
        <!-- This part is replaced by the new content -->
        <div id="random-list-beforebegin">

            {% include "partials/number.html" %}

        </div>
    </div>
    <h2>After Begin</h2>
    <p>Adds new content to the starting point inside the target element.</p>
    <div class="d-grid gap-2 mb-3">
        <button type="button"
                class="btn btn-dark btn-lg btn-block"
                hx-get="{{ url_for("random-number") }}"
                hx-target="#random-list-afterbegin"
                hx-swap="afterbegin">After Begin</button>
        <div id="random-list-afterbegin">
            <!-- This part is replaced by the new content -->

            {% include "partials/number.html" %}

        </div>
    </div>
    <h2>Before End</h2>
    <p>Adds new content to the endpoint inside the target element.</p>
    <div class="d-grid gap-2 mb-3">
        <button type="button"
                class="btn btn-dark btn-lg btn-block"
                hx-get="{{ url_for("random-number") }}"
                hx-target="#random-list-beforeend"
                hx-swap="beforeend">Before End</button>
        <div id="random-list-beforeend">

            {% include "partials/number.html" %}

            <!-- This part is replaced by the new content -->
        </div>
    </div>
    <h2>After End</h2>
    <p>Adds a new content immediately after the target element.</p>
    <div class="d-grid gap-2 mb-3">
        <button type="button"
                class="btn btn-dark btn-lg btn-block"
                hx-get="{{ url_for("random-number") }}"
                hx-target="#random-list-afterend"
                hx-swap="afterend">After End</button>
        <div id="random-list-afterend">

            {% include "partials/number.html" %}

        </div>
        <!-- This part is replaced by the new content -->
    </div>

{% endblock content %}
